ul {
  list-style: none;
}
.country-name {
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 1rem;
  background-color: teal;
  margin-top: 2px;
  color: white;
  cursor: pointer;
}
.suggestion-div {
  width: 100%;
}
.list-group{
  margin-top:-3px;
  margin-left: -32px;
  width:65%;
}
